# Neo Properties location: /var/neo/neo.properties      Server: SV-MIS-DC1-01

#neoImport.staticservername=vc.meganexus.com
neoImport.staticservername={{ neoimporturl }}

database.url=jdbc\:mysql\://{{ mysql_master }}\:3306/{{ neo4db }}
database.username={{ neo4dbuser }}
database.password={{ neo4dbpass }}

datasource.hikari.maximum-pool-size=3
datasource.hikari.maximum-pool-size=7


# CAS SERVER Location Properties
cas.server.protocol.ssl ={{ casprotocol }}
cas.server.host ={{ cashost }}
cas.server.port.ssl ={{ casport }}
cas.server.path = /cas

#ldap.server.a=ldaps://10.1.30.32 LDAP-03 disabled because it's f*&ked
ldap.server.a=ldaps://{{ ldap }}
ldap.server.b=ldaps://{{ ldap }}


ldap.server.username=CN=LdapAdmin,ou=AdminUsers,ou=neo4,dc=meganexus,dc=com
ldap.server.password={{ ldappass }}

mailSender.host=localhost
mail.defaultSytemAddress = noreply@meganexus.com
mail.defaultSystemAddress = noreply@meganexus.com
mail.defaultValidationReportAddress=corc@meganexus.com

#Report DB configuration
reportdatabase.url=jdbc\:mysql\://{{ mysql_master }}\:3306/{{ neo4reportdb }}
reportdatabase.username={{ neo4reportdbuser }}
reportdatabase.password={{ neo4reportdbpass }}

datawarehouse.url=jdbc\:mysql\://{{ mysql_master }}\:3306/{{ neo4dwdb }}
datawarehouse.name={{ neo4dwdb }}
datawarehouse.username={{ neo4dwdbuser }}
datawarehouse.password={{ neo4dwdbpass }}

neoimportdatabase.url=jdbc\:mysql\://{{ mysql_master }}\:3306/{{ neo4importdb }}
neoimportdatabase.username={{ neo4importdbuser }}
neoimportdatabase.password={{ neo4importdbpass }}
neoimportdatabase.driverClassName=com.mysql.jdbc.Driver

turbine.keys=
scheduler.types=

#webservice.neoimport.defaulturi=https://sv-import-dc1-01.dc1.meganexus.internal:8443/NeoImport/importService
webservice.neoimport.defaulturi={{ importurl }}/NeoImport/importService
webservice.neoimport.keystore.location=/var/neo/neo4private.jks
webservice.neoimport.keystore.password=changeit
webservice.neoimport.keystore.securementUsername=neo4private
webservice.neoimport.keystore.securementPassword=changeit

#webservice.neomoodle.defaulturi=http://sv-moodle-dc1-01.dc1.meganexus.internal:8443/neomoodle_core_ws/neomoodleService
webservice.neomoodle.defaulturi={{ moodleurl }}/neomoodle_core_ws/neomoodleService
webservice.neomoodle.keystore.securementUsername=neo4private
webservice.neomoodle.keystore.securementPassword=changeit
webservice.neomoodle.keystore.password=changeit
webservice.neomoodle.keystore.location=/var/neo/neo4private.jks

#moodle.course.baseurl = vc.meganexus.com/moodle/course/
moodle.course.baseurl = {{ moodlebaseurl }}/moodle/course/

#webservice.lucene.defaulturi=http://sv-lucene-dc1-01.dc1.meganexus.internal:8443/lucene-service/luceneService
webservice.lucene.defaulturi=http:/{{ luceneurl }}/lucene-service/luceneService

#moodledatabase.url=jdbc\:mysql\://localhost\:3311/moodle
moodledatabase.url=jdbc\:mysql\://{{ moodlelocaldbhost }}\:3311/{{ moodlelocaldb }}

moodle.username={{ moodlelocaldbuser }}
moodle.password= {{ moodlelocaldbpass }}

#webservice.svs.directupload.uri=https://svs.meganexus.com/svs-api/directupload
webservice.svs.directupload.uri={{ svsurl }}/svs-api/directupload

#audit trail prope rties
neo.audittrail.run=true

## rabit mq and mongo for audit trail
thread.buffer.size=2
queue.audittrail.host={{ rabbitmqhost }}
queue.audittrail.port={{ rabbitmqport }}
queue.audittrail.username=neomq
queue.audittrail.password={{ rabbitmquserpass }}
queue.audittrail.name={{ rabbitmqusername }}
queue.audittrail.durable=true

mongo.host={{ mongohost }}
mongo.port={{ mongoport }}
mongo.name={{ mongodbname }}
mongo.username= {{ mongodbuser }}
mongo.password= {{ mongodbpass }}
mongo.collection=audit_table

search.solr.enabled=false

stream.server.path=554d6bf5498c4.streamlock.net/vod/

ldapOverride.passwordExpirationTime=WHATSUP:1826

#media.status.rest.url=https://svs.meganexus.com/svs-api/communication/{userId}/media/{mediaId}/status
media.status.rest.url={{ svsurl }}/svs-api/communication/{userId}/media/{mediaId}/status


ldapOverride.passwordExpirationTime=AP:1826


# VC Service Links
#west.access.url=https://west.meganexus.com
west.access.url={{ westurl }}
