# Neo Properties location: /var/neo/neo.properties	Server: SV-PORTAL-DC1-01

neoImport.staticservername=vc.meganexus.com

database.url=jdbc\:mysql\://{{ mysql_master }}\:3306/neo4
database.username={{ neo4dbuser }}
database.password= {{ neo4dbpass }}
#datasource.hikari.maximum-pool-size=2
datasource.hikari.maximum-pool-size=42


# CAS SERVER Location Properties
cas.server.protocol.ssl = https
cas.server.host = {{ cashost }}
cas.server.port.ssl = {{ casport }}
cas.server.path = /cas


ldap.server.a=ldaps://{{ ldap }}
ldap.server.b=ldaps://{{ ldap }}

ldap.server.username=CN=LdapAdmin,ou=AdminUsers,ou=neo4,dc=meganexus,dc=com
ldap.server.password={{ ldappass }}

mailSender.host=localhost
mail.defaultSytemAddress = noreply@meganexus.com
mail.defaultSystemAddress = noreply@meganexus.com
mail.defaultValidationReportAddress = corc@meganexus.com

#Report DB configuration
reportdatabase.url=jdbc\:mysql\://localhost\:3307/report_db
reportdatabase.username=neo_User
reportdatabase.password=gh6$w*cg89XD^

#datawarehouse.url=jdbc\:mysql\://{{ mysql_master }}\:3306/neo4
#datawarehouse.name=neo4dw.
#datawarehouse.username=neodw_User
#datawarehouse.password=%fQ8cG2X6N@lp(

neoimportdatabase.url=jdbc\:mysql\://{{ mysql_master }}\:3306/{{ neo4importdb }}
neoimportdatabase.username={{ neo4importdbuser }}
neoimportdatabase.password={{ neo4importdbpass }}
neoimportdatabase.driverClassName=com.mysql.jdbc.Driver

turbine.run = false
#scheduler.types = REPORTS,DW1,DW2,JOBSCRAPING,ESFHOURLY,ESFDAILY,ESFSTOPCLOCK,G4SIMPORT,SLHPASSESSMENTALERT,G4SCSVIMPORT,COHORT_NUM_GEN,AUTOMATIC_NOTIFICATION,P51REPORTS,BARKINGALERTS,BARKINGNOACTIVITIES,NEOIMPORT,VCREPORTS,DW

webservice.neoimport.defaulturi=https://sv-import-dc1-01.dc1.meganexus.internal:8443/NeoImport/importService
webservice.neoimport.keystore.location=/var/neo/neo4private.jks
webservice.neoimport.keystore.password=changeit

webservice.neoimport.keystore.securementUsername=neo4private
webservice.neoimport.keystore.securementPassword=changeit

#NEOMOODLE WEBSERVICE
webservice.neomoodle.defaulturi=http://sv-moodle-dc1-01.dc1.meganexus.internal:8443/neomoodle_core_ws/neomoodleService
webservice.neomoodle.keystore.securementUsername=neo4private
webservice.neomoodle.keystore.securementPassword=changeit
webservice.neomoodle.keystore.password=changeit
webservice.neomoodle.keystore.location=/var/neo/neo4private.jks

moodle.course.baseurl = vc.meganexus.com/moodle/course/

webservice.lucene.defaulturi=http://sv-lucene-dc1-01.dc1.meganexus.internal:8443/lucene-service/luceneService

search.solr.enabled=false

media.status.rest.url=https://svs.meganexus.com/svs-api/communication/{userId}/media/{mediaId}/status

neo.CleanCaches=false
