# Neo Properties location: /var/neo/neo.properties	Server: SV-BATCH-DC1-01

database.url=jdbc\:mysql\://{{ mysql_master }}\:3306/{{ neo4db }}
database.username = {{ neo4dbuser }}
database.password = {{ neo4dbpass }}

#datasource.hikari.maximum-pool-size=3
datasource.hikari.maximum-pool-size=7


# CAS SERVER Location Properties
cas.server.protocol.ssl = https
cas.server.host = {{ cashost }}
cas.server.port.ssl = {{ casport }}
cas.server.path = /cas

ldap.server.a=ldaps://{{ ldap }}
ldap.server.b=ldaps://{{ ldap }}
ldap.server.username=CN=LdapAdmin,ou=AdminUsers,ou=neo4,dc=meganexus,dc=com
ldap.server.password={{ ldappass }}

mailSender.host=localhost
mail.defaultSytemAddress = noreply@meganexus.com
mail.importReportAddress = development@meganexus.com
mail.serviceSytemAddress = development@meganexus.com
mail.defaultValidationReportAddress = corc@meganexus.com
mail.defaultSystemAddress = noreply@meganexus.com

##Report DB configuration
reportdatabase.url=jdbc\:mysql\://{{ mysql_master }}\:3306/{{ neo4reportdb }}
reportdatabase.username={{ neo4reportdbuser }}
reportdatabase.password={{ neo4dwdbpass }}

#datawarehouse.url=jdbc\:mysql\://{{ mysql_master }}\:3308/neo4
#datawarehouse.name=neo4dw.
#datawarehouse.username=neodw_User
#datawarehouse.pass word=%fQ8cG2X6N@lp(
#datawarehouse.errormail=development@meganexus.com,support@meganexus.com
#datawarehouse.mail.subject-prefix=PRODUCTION

neoimportdatabase.url=jdbc\:mysql\://{{ mysql_master }}\:3306/{{ neo4importdb }}
neoimportdatabase.username={{ neo4importdbuser }}
neoimportdatabase.password={{ neo4importdbpass }}
neoimportdatabase.driverClassName=com.mysql.jdbc.Driver

scheduler.types=DW,JOBSCRAPING,OVERNIGHTDBREPORT,METAREFRESH,OPPORTUNITYINDEXER,MOODLEINDEXER

# set password welcome email links refer to
neoImport.staticservername=vc.meganexus.com

webservice.neoimport.defaulturi={{ neoimporturl }}
webservice.neoimport.keystore.location=/var/neo/neo4private.jks
webservice.neoimport.keystore.password=changeit
webservice.neoimport.keystore.securementUsername=neo4private
webservice.neoimport.keystore.securementPassword=changeit

webservice.neomoodle.keystore.securementUsername=neo4private
webservice.neomoodle.keystore.securementPassword=changeit
webservice.neomoodle.keystore.password=changeit
webservice.neomoodle.keystore.location=/var/neo/neo4private.jks
webservice.neomoodle.defaulturi={{ moodleurl }}

# SCRAPING DATABASE
scrapedb.url=jdbc\:mysql\://{{ mysql_master }}\:3310/{{ neo4scrapeddb }}
scrapedb.username={{ neo4scrapeddbuser }}
scrapedb.password={{ neo4scrapeddbpass }}
scrapedb.driverClassName=com.mysql.jdbc.Driver

webservice.lucene.defaulturi=http://sv-lucene-dc1-01.dc1.meganexus.internal:8443/lucene-service/luceneService

moodledatabase.url=jdbc\:mysql\://{{ neo4moodledbhost }}\:3311/{{ neo4moodledb }}
moodle.username={{ neo4moodledbpass }}
moodle.password={{ neo4moodledbuser }}

search.solr.enabled=false

media.status.rest.url=https://svs.meganexus.com/svs-api/communication/{userId}/media/{mediaId}/status
